<div class="articles_container">
  <div class="row">
    <%= link_to("New Article",new_article_path,class:"btn btn-primary pull-right") %> 
  </div>  	
	<% if @articles.present? %>
		<div class="row margin-top">
			<% @articles.each do |article| %>
				 <div class="col-xs-12 col-sm-6 col-md-3">
	          <div class="thumbnail">
	          	<% if article.cover.file.nil? %>
	            		<img src="http://placehold.it/500x300" alt="">
	            <% else %>
	            	<%= image_tag(article.cover.cover_image.url) %>
	            <% end %>	            	
              <div class="caption">
                <h4>  <%= article.title %></h4>
                <div>
                	by <%= article.user.try(:full_name) %>
                	<%= image_tag(article.user.avatar.extra_small_thumb.url, class:"img-circle ") %>               	
                </div>
                <div class="margin-top">
                	<%= link_to "Edit", edit_article_path(article),class: "btn btn-info btn-xs" ,id: "edit_article_#{article.id}"%>
                	<%= link_to "Show", article_path(article) ,class: "btn btn-info btn-xs",id: "show_article_#{article.id}"%>
                	<%= link_to "Delete",article_path(article),class: "btn btn-warning btn-xs", method: :delete,id: "article_#{article.id}"%>
                	
                	<div class="#{article}_like">
                		<%= article.likes %>
                		<span class=""></span>
                		<%= image_tag("/likes.png",class:"small-icon like-image") %>Likes
                	</div>
                	
                </div>
	            </div>
	          </div>
	        </div>
			<% end %>
		</div>
	<% else %>
		<div class="alert alert-info margin-top">No article is present!!</div>	
	<% end %>	

</div>

