<div  id="view_article_container">
	<% if @article.present? %>
		<div class="jumbotron">
			<h1> <%= @article.title %></h1>
			<div >
				<%= @article.body %>
			</div>	
		</div>
		<div id="comment_list">
			<%= render :partial => "articles/shared/comment_list" %>
		</div>
		<div id="comment_form">
			<%= render "comments/shared/comment_form", {:url => article_comments_path(@article), method: "POST"} %>

		</div>
	<% else %>
		<span class="col-xs-12 alert alert-info">
			Sorry!! we don't have any arictle.
			<%= link_to "New Article", new_article_path ,class:"btn btn-primary pull-right" %>
		</span>
	<% end %>
</div>