<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <% @articles.each do |article| %>
        <div class="col-md-12 article-container">
          <div class="image-resize">
           <%= image_tag article.user.avatar.small_thumb.url, class:"img-circle" %>           
          </div>
          <div class="user-and-date-info">
            <div class="article-title">
              <h4><%= link_to article.title,article_path(article) %></h4>
            </div>
            <div class="article-user-and-date-info">
              <%= article.user.full_name %> | <%= article.try(:date_of_published) || Time.now.strftime('%d %a %Y') %>        
            </div>
          </div>    
          <div class="row">
            <div class="description-block">
              <%= article.body.html_safe[3..100] + '  ...' if article.body.present? %> 
            </div>    
          </div>          
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
     <div class="heading-text">Trending Articles</div> 
     <div>
        <%= render partial: "/articles/shared/trending_blogs", locals: {trending_articles: @trending_articles} %> 
     </div>
    </div>
  </div>
</div>
