<div class="row">
	<div class="small-margin">	
		<div >
			<%= form_for(@article,:html => {multipart: true}) do |f| %>
				<div class="margin-top">
					<%= f.label :title %>
					<%= f.text_field :title,class: "form-control flat-text-box" %>
				</div>
				<div class="margin-top">
					<%= f.label :body %>					
					<%= f.cktext_area :body, id: 'article_body' %>
					<%= f.hidden_field :user_id,value: current_user.try(:id) %>
				</div>	
				<div class="margin-top">
					<%= f.label :cover %>					
					<%= f.file_field :cover %>					
				</div>	
				<div class="margin-top">
					<%= f.submit class:"btn btn-primary"%>
				</div>					
			<% end %>
		</div>		
	</div>
</div>
