<!DOCTYPE html>
<html>
<head>
  <title>BlogApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>	
	<div class="">
		<%= render :partial => '/layouts/shared/header' %>
	</div>	
	<div class="navbar-margin-top">
		<%= render :partial => '/layouts/shared/messages' %>
	</div>	
	<div class="container-fluid">
		<%= yield %>
	</div>
</body>
</html>
